<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui-css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Script("jquery-ui-1.9.2.custom.min.js")

    @Script("moment.min.js") <!-- this is for date formatting for chat messages -->
    @Script("ajaxUpdateScript.js")
</head>
<body onload="loadMessageQueue()">
    @RenderBody()

    @RenderSection("scripts", required: false)
    @Script("chatSettings.js")
</body>
</html>

@helper Script(string scriptName) {
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}