<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>GSWAT - Brought to you by Pure Battlefield</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/themes/base/CSS/modern.css")
        @Styles.Render("~/Content/themes/base/CSS/modern-responsive.css")
        @Styles.Render("~/Content/themes/base/CSS/loading.css")

        <!-- Libraries -->
        @Script("libraries/jquery-1.9.1.min.js")
        @Script("libraries/yepnope-1.5.4.min.js")
        <script type="text/javascript">
            $(function (window, $, yepnope, undefined) {
            	"use strict";

				var ichUrl = '/Scripts/libraries/icanhaz-0.10.5.js';
				var load_files = [
					'/Scripts/libraries/mustache-0.7.3.js',
					ichUrl,
                    '/Scripts/libraries/jquery-ui-1.10.0.custom.min.js',
                    '/Content/themes/base/jquery-ui-1.10.0.custom.min.css',
                    '/Content/themes/base/CSS/structure.css',
                    '/Scripts/libraries/toe-1.2.min.js',
                    '/Scripts/libraries/moment-2.0.0.min.js',
                    '/Scripts/libraries/underscore-1.4.3.min.js',
                    '/Scripts/libraries/backbone-0.9.10.min.js',
                    '/Scripts/main.js',
                    '/Scripts/libraries/lib.js',
                    '/Scripts/router.js',
                    '/Scripts/views/view.globals.js'
				];

				var increment = 100 / load_files.length;

				yepnope({
					load: load_files,
					callback: function(url,r,i){
						if(url === ichUrl){
							ich.grabTemplates();
						}
						$('#progress-bar-inner').stop().animate({width: ((increment * (parseInt(i) + 1)) + '%')})
					},
					complete: function(){
						window.setTimeout(function(){
							$('#first-loading').slideUp(function(){
								var PBF = new window.GSWAT();
								$(this).remove();
								_.extend(window,{PBF:PBF});

								PBF.init({CDN : '/'});

								console.log('Views',PBF.view_definitions);
								console.log('Models',PBF.model_definitions);
								console.log('Collections',PBF.collection_definitions);
								console.log('PBF Object',PBF);
							});
						},1000);
					}
				});
			}(window,$,yepnope));
        </script>
        
        <!-- ICanHaz Templates -->
        @RenderBody()
    </head>
    <body id="body">
        <header id="header"></header>
        <section id="content">
            <div id="first-loading" class="page padding10">
				<div class="row">
					<h2>Loading Base Application <small>- Please Wait</small></h2>
					<div class="progress-bar">
						<div id="progress-bar-inner" class="bar bg-color-blue"></div>
					</div>
				</div>
            </div>
        </section>
        <footer id="footer"></footer>
    </body>
</html>
@helper Script(string scriptName) {
    <script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}