<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GSWAT - Server Managing made Awesome</title>
		@Styles.Render("~/Content/themes/base/CSS/bootstrap3.css")

		@Styles.Render("~/Content/themes/base/CSS/loading.css")

		<!-- Libraries -->
		@Script("libraries/jquery-1.9.1.min.js")
		@Script("libraries/yepnope-1.5.4.min.js")
		<script type="text/javascript">
			$(function (window, $, yepnope, undefined) {
				"use strict";

				var ichUrl = '/Scripts/libraries/icanhaz-0.10.5.js';
				var load_files = [
					'/Scripts/libraries/mustache-0.7.3.js',
					ichUrl,
					'/Content/themes/base/CSS/font-awesome.min.css',
					'/Scripts/libraries/jquery-ui-1.10.1.custom.min.js',
					'/Content/themes/base/jquery-ui-1.10.1.custom.min.css',
			        '/Scripts/libraries/purl.js',
					'/Scripts/libraries/bootstrap-3.0.0.min.js',
					'/Content/themes/base/CSS/structure.css',
					'/Scripts/libraries/toe-1.2.min.js',
					'/Scripts/libraries/moment-2.0.0.min.js',
					'/Scripts/libraries/underscore-1.4.3.min.js',
					'/Scripts/libraries/backbone-0.9.10.min.js',
					'/Scripts/libraries/backbone.validate.js',
					'/Scripts/main.js',
					'/Scripts/lib.js',
					'/Scripts/router.js',
					'/Scripts/views/view.globals.js',
					'/Scripts/models/model.globals.js',
                    '/Scripts/models/model.account.js'
				];

				var increment = 100 / load_files.length;

				yepnope({
					load: load_files,
					callback: function(url,r,i){
						if(url === ichUrl){
							ich.grabTemplates();
						}
						$('#progress-bar-inner').stop().animate({width: ((increment * (parseInt(i) + 1)) + '%')})
					},
					complete: function(){
						window.setTimeout(function(){
							$('#loading').slideUp(function(){
								var PBF = new window.GSWAT();
								$(this).remove();
								_.extend(window,{PBF:PBF});

								PBF.init({CDN : '/'});

								console.log('Views',PBF.view_definitions);
								console.log('Models',PBF.model_definitions);
								console.log('Collections',PBF.collection_definitions);
								console.log('PBF Object',PBF);

                                window.onSignInCallback = function(authResult){
                                    var account_model = PBF.get({model:{name:'account_model'}});
                                    account_model.onSignInCallback(authResult);
                                };
							});
						},1000);
					}
				});
			}(window,$,yepnope));
		</script>
        
        

	    <!-- ICanHaz Templates -->
		@RenderBody()
        <script type="text/javascript">
            var _daAnalytics = _daAnalytics || {}; _daAnalytics.init = function (d) { _daAnalytics.Commands = _daAnalytics.Commands || []; for (var a = function (a) { return function () { _daAnalytics.Commands.push([a].concat(Array.prototype.slice.call(arguments, 0))) } }, b = "siteId trackLinkClicks setUserId setProperty setView trackPage trackAction trackEvent trackView setAppId setAccountId setUserId".split(" "), c = 0; c < b.length; c++) _daAnalytics[b[c]] = a(b[c]); _daAnalytics.setAppId(d); var a = document.createElement("script"); a.type = "text/javascript"; a.src = "//az416426.vo.msecnd.net/scripts/da.js"; a.async = !0; var b = document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b); };

            _daAnalytics.init("1d023ef0-7bfc-4d21-b8bc-28082c84d7f0");
            _daAnalytics.trackPage();
        </script>
	</head>
	<body id="body">
		<header id="header"></header>
		<section id="content" class="container">
			<div id="loading" class="row-fluid">
				<div class="well">
					<h3>Loading Base Application <small>- Please Wait</small></h3>
					<div class="progress progress-striped active">
						<div id="progress-bar-inner" class="progress-bar"></div>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer" class="footer"></footer>
    </body>
</html>
@helper Script(string scriptName) {
	<script src="@Url.Content("~/Scripts/" + scriptName)" type="text/javascript"></script>
}